@using NotePro.DataStorage
@{
    var session = new ApplicationSession(Context.Session);
} 
<!DOCTYPE html>
<!--[if IE]><html class="ie"><![endif]-->
<!--[if !IE]>--><html><!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Leandro Rosenfelder & Philipp Bruhin">
    <title>@ViewData["Title"] - NotePro</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/mdb.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        @if (!session.DefaultLayout)
        {
            <link rel="stylesheet" href="~/css/dark_theme.css" />
        }
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
              crossorigin="anonymous"
              integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/mdb.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        @if (!session.DefaultLayout)
        {
            <link rel="stylesheet" href="~/css/dark_theme.css" />
        }
    </environment>
</head>
<body id="site">

<nav class="navbar navbar-expand-lg navbar-dark indigo">
    <!-- Navbar brand -->
    <a asp-controller="Home" asp-action="Index" class="navbar-brand"><i class="fa fa-sticky-note-o" aria-hidden="true"></i>&nbsp;NotePro</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">My Notes</a></li>
        </ul>

        <a class="btn grey darken-1" asp-controller="Home" asp-action="NewNote" role="button">New Note<i class="fa fa-plus-circle ml-1"></i></a>
           
    </div>
    <!-- Collapsible content -->
</nav>

<noscript>    
    <div class="jumbotron text-center warning-color">
        <div class="container">
            <p class="font-weight-bold">Your browser does not support JavaScript!</p>
            <p>Without JavaScript you won’t be able using the services on this website unfortunately. So please enable JavaScript as shown on <a href="https://www.enable-javascript.com/" target="_blank">www.enable-javascript.com</a>.</p>
        </div>
    </div>
</noscript>

<div class="container body-content">
        @RenderBody()
    </div>

    <footer class="footer clearfix">
        <p class="float-md-left">October 2017 - NotePro by Leandro Rosenfelder & Philipp Bruhin - <a href="https://github.com/philippbruhin/NotePro/" target="_blank">View on Github</a></p>
        <a href="https://www.hsr.ch/" target="_blank"><img src="~/images/logo_hsr.svg" alt="HSR Logo" class="hsr-logo float-md-right" /></a>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/popper.js/dist/umd/popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/mdb.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=">
        </script>
        <script src="~/lib/popper.js/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1">
        </script>

        <script src="~/js/mdb.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>



