.navbar-brand {
    font-size: 2rem;
    margin-right: 3em;
}


.body-content {
    margin-top: 4em;
    margin-bottom: 4em;
}

.submit-note {
    margin-top: 3em;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    padding-left: 20px;
    padding-right: 20px;
}

.footer .hsr-logo {
    padding-top: 10px;
    max-width: 120px;
}

.footer p {
    margin-bottom: 0;
}


/* Form Placeholder */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #9e9e9e
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #9e9e9e;
    opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #9e9e9e;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9e9e9e;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #9e9e9e;
}

/* Duedate styling */
input[type="date"]:before {
    content: attr(placeholder) !important;
    margin-right: 0.5em;
    margin-left: 100px;
}

input[type=date] {
    color: #9e9e9e;
}

input[type=date]:focus {
    color: #212529;
}

/* Priority Styling */
.priority-title {
    margin-top: 1rem;
    margin-bottom: .5rem;
    color: #757575;
    font-size: 1rem;
}

/* Star rating for note priority */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 11.5em;
}

.rating input {
    position: absolute;
    left: -999999px;
}

.rating label {
    display: inline-block;
    font-size: 0;
}

.rating > label:before {
    position: relative;
    font-family: FontAwesome;
    font-size: 2rem;
    display: block;
    content: "\f005";
    color: #9e9e9e;
    background: -webkit-linear-gradient(-45deg, #9e9e9e 0%, #9e9e9e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > label.selected:before,
.rating > label.selected ~ label:before {
    color: #4285F4;
    background: -webkit-linear-gradient(-45deg, #4285F4 0%, #4285F4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* Radio buttons (not included in MDBootstrap free version) */
[type=radio] + label {
    -webkit-transition: .28s ease;
    transition: .28s ease;
}

[type=radio] + label, [type=checkbox] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
input[type=radio], input[type=checkbox] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

[type=radio], [type=checkbox] {
    position: absolute;
    left: -9999px;
    visibility: hidden;
}

input[type="radio"] {
    margin: 3px 3px 0px 5px;
}

input[type="radio"], input[type="checkbox"] {
    background-color: initial;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
}

[type=radio]:not(:checked) + label:after, [type=radio]:not(:checked) + label:before {
    border-color: #5a5a5a;
}

[type=radio] + label:after, [type=radio] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    -webkit-transition: .28s ease;
    transition: .28s ease;
}

[type=radio]:not(:checked) + label:after {
    z-index: -1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

[type=radio]:not(:checked) + label:after, [type=radio]:not(:checked) + label:before {
    border-color: #5a5a5a;
}

[type=radio] + label:after, [type=radio] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    -webkit-transition: .28s ease;
    transition: .28s ease;
}

[type=radio]:checked + label:after {
    border-color: #4285F4;
    background-color: #4285F4;
    z-index: 0;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}