@{
    ViewData["Title"] = "About this application";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<h1>ToDo's</h1>
<ul>
    <li>Note.cs noch sehr vereinfacht</li>
    <li>Note.cs ID Vergabe ok?</li>
    <li>Note.cs wie machen wir Priority? Enum nicht meine erste Wahl.</li>
    <li>site.js Date Time Picker wird auf jeder Seite geladen, obowhl es ihn nur bei "Add note" benötigt.</li>
</ul>