@{
    ViewData["Title"] = "About this application";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h1>ToDo's</h1>
<h3>Allgemein</h3>
<ul>
    <li>Achtung, wir verwenden das neuere <a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/" target="_blank">Bootstrap 4</a> (nicht das alte 3.3.7). Als Design-Erweiterung verwenden wir <a href="https://mdbootstrap.com/" target="_blank">MD Bootstrap</a></li>
    <li>Favicon hinzufügen (das kleine Icon im Browser-Tab).</li>
    <li>About Seite mit Projektbeschrieb und Link zu Aufgabenstellung. Eventuell auch Infos wie, dass die Seite unter IE 11 nicht funktioniert.</li>
    <li>Notizen auf Home Seite veröffentlichen.</li>
</ul>

<h3>Note.css</h3>
<ul>
    <li>Noch sehr vereinfacht. Blueprint</li>
    <li>Note.cs ID Vergabe ok?</li>
    <li>Note.cs wie machen wir Priority? Enum nicht meine erste Wahl.</li>
</ul>

<h3>NewNote.cshtml</h3>
<ul>
    <li>Validierung der Notiz-Eingaben direkt via JS (bis jetzt nur auf Server).</li>
    <li>Style von Fehlermeldungen noch nicht ok.</li>
</ul>

<h3>Site.js</h3>
<ul>
    <li>Wie definiert man, dass diese Datei nicht auf allen Seiten geladen wird?</li>
</ul>