@model NotePro.Models.Note

@{
    ViewData["Title"] = "Add a new note";
}



<div class="row">
    <form class="note-form" asp-action="NoteForm" method="post">
        <div asp-validation-summary="All"></div>

        <div class="form-group">
            <label asp-for="Title">Title:</label>
            <input class="form-control" asp-for="Title" />
        </div>

        <div class="form-group">
            <label asp-for="Description">Description:</label>
            <input class="form-control" asp-for="Description" />
        </div>

        <div class="form-group">
            <label asp-for="Priority">Priority:</label>
            <input class="form-control" asp-for="Priority" />
        </div>

        <div class="form-group">
            <input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker" asp-for="Duedate">
            <label asp-for="Duedate">Duedate:</label>
        </div>

        <div class="text-center">
            <button class="btn btn-primary" type="submit">Submit note</button>
        </div>
    </form>
    
    <!-- Form contact -->
    <form>

        <p class="h5 text-center mb-4">Write to us</p>

        <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="form3" class="form-control">
            <label for="form3">Your name</label>
        </div>

        <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="text" id="form2" class="form-control">
            <label for="form2">Your email</label>
        </div>

        <div class="md-form">
            <i class="fa fa-tag prefix grey-text"></i>
            <input type="text" id="form32" class="form-control">
            <label for="form34">Subject</label>
        </div>

        <div class="md-form">
            <i class="fa fa-pencil prefix grey-text"></i>
            <textarea type="text" id="form8" class="md-textarea" style="height: 100px"></textarea>
            <label for="form8">Your message</label>
        </div>

        <div class="text-center">
            <button class="btn btn-unique">Send <i class="fa fa-paper-plane-o ml-1"></i></button>
        </div>

    </form>
    <!-- Form contact -->
    <p>Lorem ipsum dolor sit amet, id ipsum lorem usu. Quem partiendo signiferumque et mei, usu an reque eripuit scripserit. Oratio alterum vel ad, exerci fuisset moderatius no per. Mea at suas omnis eleifend, mentitum expetendis delicatissimi ius ut. Nostro ocurreret sententiae an mei, an ius aliquip molestiae incorrupte. Quodsi meliore an ius, ne nibh libris populo sea.

        Oporteat consectetuer voluptatibus ex eam, cibo mediocrem omittantur eu sit. Dolore fuisset ut has. Et saepe phaedrum electram qui. Vix no oratio pertinax. Ius viderer evertitur ne, quo eu brute primis disputando. Sit tamquam erroribus ea, erat populo veritus et mea.

        Vis enim epicuri sapientem ne, eu paulo interesset ius. Usu ex eius justo aeterno. Atqui augue dicant cum ex, ei impetus tibique concludaturque nam, vim ea vivendum conceptam. Sale ipsum assum at nec, vim ut tota error.

        Ei dicant inermis quo. Cu mea maiorum epicurei erroribus. Mea case nulla signiferumque eu, his ne scaevola gubergren theophrastus. Vix tantas prompta platonem te, ea quo ferri temporibus adversarium. Mei virtute intellegat democritum ut, ex qui errem partem.

        At choro aliquando argumentum sea, id delenit assentior quo. Impedit consetetur vel te, cu sit putant aliquip volutpat. Cu est ludus abhorreant, choro adipisci eu sea. His ne affert menandri. No ius ullum cetero. In mundi equidem rationibus vis, no commodo abhorreant sed, cu sapientem adolescens mei.</p>

</div>