@model Note

@{ // TODO USE PROPER HTTP METHOD
//    ViewData["Title"] = "Add a new note";
//    var aspAction = "UpdateNote";
//    if (Model == null)
//    {
//        aspAction = "AddNote";
//    }
//var aspAction = "AddNote";
}


<form class="note-form" asp-action="AddNote" asp-method="post">  

    <div asp-validation-summary="All" class="text-danger"></div>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="md-form">
        <i class="fa fa-tag prefix grey-text"></i>
        <input class="form-control" asp-for="Title"/>
        <label asp-for="Title" data-toggle="tooltip" data-placement="top" title="Every note needs a title">Title:</label>
    </div>
        
    <div class="md-form">
        <i class="fa fa-pencil prefix grey-text"></i>
        <textarea class="md-textarea" asp-for="Description" style="height: 100px"></textarea>
        <label asp-for="Description" data-toggle="tooltip" data-placement="top" title="Add a short description of your note.">Description:</label>
    </div>
        
    <div class="row">
        <div class="col-12 col-md-4">
            
            <div class="md-form">
                <i class="fa fa-clock-o prefix grey-text"></i>
                <input class="form-control" asp-for="DueDate"/>
                <label asp-for="DueDate" data-toggle="tooltip" data-placement="top" title="Add a duedate for every note.">Duedate:</label>
            </div>

        </div>

        <div class="col-12 col-md-4 clearfix">
            
            <span class="priority-title float-left" data-toggle="tooltip" data-placement="top" title="Add an importance to your note from 1 to 5 stars.">Importance:</span>
            <div class="rating float-left">
                <label>
                    <input asp-for="Priority" type="radio" name="Priority" value="5" title="5 stars"> 5
                </label>
                <label>
                    <input asp-for="Priority" type="radio" name="Priority" value="4" title="4 stars"> 4
                </label>
                <label>
                    <input asp-for="Priority" type="radio" name="Priority" value="3" title="3 stars"> 3
                </label>
                <label>
                    <input asp-for="Priority" type="radio" name="Priority" value="2" title="2 stars"> 2
                </label>
                <label>
                    <input asp-for="Priority" type="radio" name="Priority" value="1" title="1 star"> 1
                </label>
            </div>

        </div>
        
        <div class="col-12 col-md-4 clearfix">
        
            <div class="form-group finished">
                <input type="checkbox" class="filled-in" id="checkbox2">
                <label for="checkbox2" data-toggle="tooltip" data-placement="top" title="Check as soon as task is finished.">Finished</label>
            </div>
        
        </div>

    </div>

    <div class="submit-note text-center">
        <button class="btn btn-default" type="submit">Save<i class="fa fa-paper-plane-o ml-1"></i></button>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}